In [1]:
# 导包
import pandas as pd
import numpy as np

# 1. 演示DataFrame的属性

## 1.1 准备动作, 创建DataFrame对象, 数据集 -> 10个学生的5门课程成绩(随机)

In [2]:
# 1. 通过Numpy随机生成10个学生的5门课程成绩.
# score_data = np.random.randint(40, 100, size=(10, 5), dtype=np.int64)
score_data = np.random.randint(40, 100, size=(10, 5))
score_data

array([[81, 89, 65, 50, 51],
       [53, 57, 63, 70, 56],
       [79, 52, 77, 93, 79],
       [86, 91, 54, 58, 48],
       [82, 83, 53, 83, 47],
       [91, 69, 45, 60, 93],
       [83, 64, 48, 43, 56],
       [51, 53, 48, 79, 73],
       [96, 88, 86, 75, 93],
       [78, 80, 53, 87, 59]])

In [4]:
# 2. 把上述的 ndarray -> DataFrame对象
score_df = pd.DataFrame(score_data)
score_df

    0   1   2   3   4
0  75  65  84  49  80
1  52  84  41  41  63
2  92  57  95  55  91
3  73  76  90  45  61
4  70  86  80  84  89
5  83  80  61  93  60
6  46  86  43  44  60
7  45  78  79  60  77
8  77  92  78  82  58
9  80  70  43  50  76

In [5]:
# 3. 定义变量, 记录列名 和 行索引. 
col_names = ['语文', '数学', '英语', '物理', '化学']
# idx_names = [i for i in range(10)]      # 这里的10是学生个数, 写固定值不好. 
idx_names = ['同学' + str(i) for i in range(score_df.shape[0])]
# idx_names

# score_df.shape      # (10, 5),  10行5列
# score_df.shape[0]   # 10, 行数

In [6]:
# 4. 设置列名 和 行索引.
score_df.columns = col_names
score_df.index = idx_names
# 5. 打印结果.
score_df

     语文  数学  英语  物理  化学
同学0  75  65  84  49  80
同学1  52  84  41  41  63
同学2  92  57  95  55  91
同学3  73  76  90  45  61
同学4  70  86  80  84  89
同学5  83  80  61  93  60
同学6  46  86  43  44  60
同学7  45  78  79  60  77
同学8  77  92  78  82  58
同学9  80  70  43  50  76

## 1.2 演示df对象的 常用属性

In [ ]:
# shape属性: 获取df对象的形状, 格式为: (行数, 列数)
score_df.shape      # (10, 5)

In [7]:
# index属性: 获取df对象的行索引
score_df.index      # 在Pandas中, object表示字符串, 即: 等价于Python中的 str类型

Index(['同学0', '同学1', '同学2', '同学3', '同学4', '同学5', '同学6', '同学7', '同学8', '同学9'], dtype='object')

In [8]:
# columns属性: 获取df对象的列名
score_df.columns

Index(['语文', '数学', '英语', '物理', '化学'], dtype='object')

In [9]:
# values属性: 获取df对象的数据, 返回ndarray
score_df.values

array([[75, 65, 84, 49, 80],
       [52, 84, 41, 41, 63],
       [92, 57, 95, 55, 91],
       [73, 76, 90, 45, 61],
       [70, 86, 80, 84, 89],
       [83, 80, 61, 93, 60],
       [46, 86, 43, 44, 60],
       [45, 78, 79, 60, 77],
       [77, 92, 78, 82, 58],
       [80, 70, 43, 50, 76]])

In [10]:
# T属性, 行列转置.
score_df.T

    同学0  同学1  同学2  同学3  同学4  同学5  同学6  同学7  同学8  同学9
语文   75   52   92   73   70   83   46   45   77   80
数学   65   84   57   76   86   80   86   78   92   70
英语   84   41   95   90   80   61   43   79   78   43
物理   49   41   55   45   84   93   44   60   82   50
化学   80   63   91   61   89   60   60   77   58   76

In [11]:
# size属性, 获取df对象的元素个数, 即:行数 * 列数
score_df.size

50

In [12]:
# dtypes属性, 获取df对象的数据类型
score_df.dtypes

语文    int32
数学    int32
英语    int32
物理    int32
化学    int32
dtype: object

# 2. 演示DataFrame的方法

In [13]:
# head()方法, 默认: 获取前5行数据
# score_df.head()
score_df.head(10)       # 可以获取指定条数的数据.

     语文  数学  英语  物理  化学
同学0  75  65  84  49  80
同学1  52  84  41  41  63
同学2  92  57  95  55  91
同学3  73  76  90  45  61
同学4  70  86  80  84  89
同学5  83  80  61  93  60
同学6  46  86  43  44  60
同学7  45  78  79  60  77
同学8  77  92  78  82  58
同学9  80  70  43  50  76

In [ ]:
# tail()方法, 默认: 获取最后5行数据
score_df.tail()
score_df.tail(10)   # 可以获取指定条数的数据.

In [14]:
# describe()方法, 获取数据的描述性 统计 信息
score_df.describe()

              语文         数学         英语         物理         化学
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean   69.300000  77.400000  69.400000  60.300000  71.500000
std    16.179891  10.741405  20.662365  18.962243  12.642521
min    45.000000  57.000000  41.000000  41.000000  58.000000
25%    56.500000  71.500000  47.500000  46.000000  60.250000
50%    74.000000  79.000000  78.500000  52.500000  69.500000
75%    79.250000  85.500000  83.000000  76.500000  79.250000
max    92.000000  92.000000  95.000000  93.000000  91.000000

In [15]:
# info()方法, 获取数据的描述性 详细 信息
score_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 同学0 to 同学9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   语文      10 non-null     int32
 1   数学      10 non-null     int32
 2   英语      10 non-null     int32
 3   物理      10 non-null     int32
 4   化学      10 non-null     int32
dtypes: int32(5)
memory usage: 580.0+ bytes

# 3. 演示DataFrame的索引操作

## 3.1 修改索引

In [16]:
# 1. 观察源数据.
score_df

     语文  数学  英语  物理  化学
同学0  75  65  84  49  80
同学1  52  84  41  41  63
同学2  92  57  95  55  91
同学3  73  76  90  45  61
同学4  70  86  80  84  89
同学5  83  80  61  93  60
同学6  46  86  43  44  60
同学7  45  78  79  60  77
同学8  77  92  78  82  58
同学9  80  70  43  50  76

In [17]:
# 需求: 把列名改为: 'Python基础', 'Python进阶', '数分阶段', '机器学习', '深度学习',  行索引: stu_0, stu_1...
# 1. 错误示范.
# score_df['同学0'] = 'stu_0'       # 错误示范, 索引不能只改1个, 只能改全部.  这个动作是给表新增1列

# 2. 删除列.
# score_df.drop('同学0', axis=1, inplace=True)  # 0: 行, 1: 列
score_df

     语文  数学  英语  物理  化学
同学0  75  65  84  49  80
同学1  52  84  41  41  63
同学2  92  57  95  55  91
同学3  73  76  90  45  61
同学4  70  86  80  84  89
同学5  83  80  61  93  60
同学6  46  86  43  44  60
同学7  45  78  79  60  77
同学8  77  92  78  82  58
同学9  80  70  43  50  76

In [18]:
# 3. 定义新列名.
new_col_names = ['Python基础', 'Python进阶', '数分阶段', '机器学习', '深度学习']
# 4. 定义新行索引.
new_idx_names = ['stu_' + str(i) for i in range(score_df.shape[0])]

In [19]:
# 5. 设置新的索引列. 
score_df.columns = new_col_names
score_df.index = new_idx_names
# 6. 查看结果.
score_df

       Python基础  Python进阶  数分阶段  机器学习  深度学习
stu_0        75        65    84    49    80
stu_1        52        84    41    41    63
stu_2        92        57    95    55    91
stu_3        73        76    90    45    61
stu_4        70        86    80    84    89
stu_5        83        80    61    93    60
stu_6        46        86    43    44    60
stu_7        45        78    79    60    77
stu_8        77        92    78    82    58
stu_9        80        70    43    50    76

## 3.2 设置索引列

In [21]:
# 1. 准备数据.
df = pd.DataFrame({
    'month': [1, 4, 7, 10],
    'sale': [55, 40, 84, 31],
    'year': [2024, 2025, 2026, 2027]
})
df

   month  sale  year
0      1    55  2024
1      4    40  2025
2      7    84  2026
3     10    31  2027

In [22]:
# 2. 设置 month 为索引列.
# inplace -> True, 修改源数据,  drop: 是否从数据列中删除该列, 默认是(True), 改为False可保留原理. 
# df.set_index('month', drop=False)

df.set_index('month', inplace=True)

In [24]:
# 3. 取消设置索引列, drop: 默认是False, 表示不删除索引列,把它变为数据列.  写True会直接删除索引列. 
# df.reset_index(drop=False)  # 索引列 -> 普通列
# df.reset_index(drop=True)     # 索引列 -> 会被删除

df.reset_index(inplace=True)
df

   month  sale  year
0      1    55  2024
1      4    40  2025
2      7    84  2026
3     10    31  2027

## 3.3 设置多列为索引列

In [25]:
# 1. 观察源数据.
df

   month  sale  year
0      1    55  2024
1      4    40  2025
2      7    84  2026
3     10    31  2027

In [26]:
# 2. 设置多列索引. 需求: year和month设置为索引列.
df.set_index(['year', 'month'], inplace=True)
df

            sale
year month
2024 1        55
2025 4        40
2026 7        84
2027 10       31

# 4. Pandas中的数据类型介绍

In [ ]:
# Pandas中的类型有一些和Python是类似的, 例如: object(字符串), int, bool, float, nan(None), 也有一些特殊的, 例如: datetime, timedelta, category
# 1. 演示 datetime: 日期时间类型.
date1 = pd.to_datetime(['2024-12-21', '2024-12-22', '2024-12-23'])
print(date1)
print(type(date1))

In [ ]:
# 2. 演示 timedelta: 日期差类型(日期间隔类型)
# 2.1 定义开始 和 结束时间.
start_time = pd.to_datetime('2024-12-21')
end_time = pd.to_datetime('2024-12-23')

# 2.2 查看数据值.
# print(end_time, type(end_time)) # 2024-12-23 00:00:00 <class 'pandas._libs.tslibs.timestamps.Timestamp'>

# 2.3 获取 时间间隔(日期差).
result = end_time - start_time
print(result)
print(type(result))     # <class 'pandas._libs.tslibs.timedeltas.Timedelta'>

In [ ]:
# 3. 演示 category: 类别类型
# fruits = pd.Series(['apple', 'banana', 'cherry', 'apple', 'banana'])    # 每个值都会占用空间.

# category: 减少内存消耗, 只存储唯一值
fruits = pd.Series(['apple', 'banana', 'cherry', 'apple', 'banana'], dtype='category')   
print(fruits)
print(type(fruits))     #

In [30]:
fruitsa=pd.Series(['1', '2', '3', '4', '5'])
print(fruitsa)
print(type(fruitsa))

0    1
1    2
2    3
3    4
4    5
dtype: object
<class 'pandas.core.series.Series'>